.page-bg {
    // height: calc(100vh - 4.375rem);
    height: 33.125rem;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    position: relative;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .blog-meta-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-85%);
        text-align: center;
        color: #fdfdfd;
        width: 70%;
        .blodg-date {
            font-size: 1.375rem;
        }
        .blog-post {
            font-size: 1.75rem;
            font-weight: 400;
        }
        h1 {
            font-size: 2.25rem;
            font-weight: 500;
            line-height: 1.2;
        }
    }
}

.blog-img {
    height: 31.25rem;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: -16%;
    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}
.blog-detail {
    position: relative;
    margin-top: 3.125rem;
    margin-bottom: 3.75rem;
}

.icon-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    a {
        display: block;
        text-align: center;
        padding: 0.625rem;
        transition: all 0.3s ease;
        font-size: 1.375rem;
        margin-bottom: 0.25rem;
        border-radius: 0 10px 10px 0;
        &:hover {
            background-color: #000;
        }
        &.facebook {
            color: #3b5998;
            background: white;
        }
        &.twitter {
            color: #55acee;
            background: white;
        }
        &.linkedin {
            color: #007bb5;
            background: white;
        }
        &.youtube {
            color: #bb0000;
            background: white;
        }
    }
}



