$bg-body-color:#FBF6F2;
$footer-color:#FAE7D8;
$white:#FFF;
$black:#000;
$light-black:#333;
$grey-1:#828282;
$btnColor-1:#EE8226;
$btnColor-2:#E0C097;
$btnColor-3:#C89595;
$btnColor-4:#7882A4;
$btnColor-5:#886F6F;
$hover-color:#6D3A0F;



// font-family

$body-font: 'Quicksand', sans-serif;




// border radius